nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 200px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-left: 50px;
}
.ex {
  text-align: center;
  margin-top: 200px;
}
.flex {
  display: flex;
  gap: 40px;
}
.third {
  margin: 0px 200px;
}
.button {
  background-color: orangered;
  border-radius: 10%;
}
.malin {
  display: flex;
  gap: 50px;
}
.mal {
  background-image: url(/img/Rectangle\ 5.png);
  background-repeat: no-repeat;
}
.ind {
  background-image: url(/img/Rectangle\ 8.png);
  background-repeat: no-repeat;
}
h2 {
  font-size: 30px;
  text-align: center;
  color: aliceblue;
  margin: 150px 220px;
}
.four {
  margin: 0px 200px;
}
.sri {
  background-image: url(/img/Rectangle\ 6.png);
  background-repeat: no-repeat;
  padding-left: 10px;
}
.nor {
  background-image: url(/img/Rectangle\ 7.png);
  background-repeat: no-repeat;
}
.kas {
  background-image: url(/img/Rectangle\ 9.png);
  background-repeat: no-repeat;
}
.srinor {
  display: flex;
  gap: 10px;
}
.sri h3 {
  font-size: 30px;
  text-align: center;
  color: aliceblue;
  margin: 150px;
}
.kas h3 {
  font-size: 30px;
  text-align: center;
  color: aliceblue;
  margin: 100px 100px;
}
.nor h3 {
  font-size: 30px;
  text-align: center;
  color: aliceblue;
  margin: 50px 200px;
}
.desh {
  background-image: url(/img/Rectangle\ 11.png);
  background-repeat: no-repeat;
}
.ban {
  background-image: url(/img/Rectangle\ 10.png);
  background-repeat: no-repeat;
}
.banban {
  display: flex;
  gap: 2px;
}
.desh h3 {
  text-align: center;
  font-size: 30px;
  color: aliceblue;
  margin: 150px 200px;
}
.ban h3 {
  text-align: center;
  font-size: 30px;
  color: aliceblue;
  margin: 150px 280px;
}
.five {
  margin: 0px 200px;
}
.blarge{align-items: center; margin: 10px 600px; background-color: orangered; color: antiquewhite; border: 5px;
font-size: 25px;}
.last1{display: flex; margin: 50px 600px;}
.last{background-color: azure;}
.h{font-size: 30px;}
.hot {
  display: flex;
  gap: 80px;
}
small{margin: 50px 600px;
margin-bottom: 50px;}
.logo{margin: 20px 700px;
margin-bottom: 100px;}
.ex {
  text-align: center;
  margin-top: 20px;
}
.place {
  gap: 10px;
}
.banner {background-image:url(/img/Group\ 13\ \(1\)\ \(1\).png);background-repeat: no-repeat; height: 500px; width: 1200px;
  margin: 40px; margin-left: 150px;
}
.form{display: flex; gap: 50px; margin: 10px 240px;} .for{border: 1px solid orangered; margin: 10px;}
.hotel {
  background-color: antiquewhite;
  border: 1px solid antiquewhite;
  border-radius: 5px;
}
.map {
  background-color: powderblue;
  border-radius: 5px;
}
h4 {
  margin: 30px 30px;
}
p {
  margin: 30px 30px;
}
h1 {
  text-align: center;
  font-size: 30px;
}
.align {
  text-align: center;
}
.price {
  background-color: antiquewhite;
  border-radius: 5px;
  margin: 10px 300px;
}

.six {
  background-image: url(/img/Group\ 39.png);
  height: 500px;
  width: 1600px;
  background-repeat: no-repeat;
  display: flex;
  margin-left: 150px;
}
.seven {
  background-image: url(/img/Group\ 40.png);
  height: 500px;
  width: 1600px;
  background-repeat: no-repeat;
  display: flex;
  margin-left: 150px;
}
.sandiv {
  margin: 40px 10px 150px 700px;
  background-color: whitesmoke;
  border-radius: 10px;
  align-items: center;
}
.sandiv2 {
  margin: 40px;
  margin-bottom: 150px;
  background-color: whitesmoke;
  border-radius: 10px;
  align-items: center;
}
h5 {
  font-size: 20px;
  margin-left: 20px;
}
h6 {
  font-size: 20px;
  margin-left: 20px;
  color: orangered;
}
.btn {
  font-size: 20px;
  background-color: orangered;
  color: azure;
  margin-left: 20px;
}
.eight {
  display: flex;
  margin: 50px 200px;
}
.watch {
  background-image: url(/img/Group\ 40089.png);
  background-repeat: no-repeat;
}
